@import "nord.css";

window {
    background-color: transparent;
}

* {
    font-family: "FiraCode Nerd Font Mono";
    font-size: 14px;
    font-weight: 600;
    margin-top: 2px;
}

/*
* Left part
*/
#mode {
    color: @nord0;
    background-color: @nord13;
    margin-left: 8px;
    border-radius: 5px;
    padding: 0px 6px;
}

#workspaces button {
    margin-left: 8px;
    background-color: @nord3;
    padding: 0px 4px;
    color: @nord6;
    margin-top: 0;
}

#workspaces button.focused {
    color: @nord0;
    background-color: @nord8;
}

#window {
    margin-left: 10px;
    color: @nord6;
    font-weight: bold;
    padding: 0px 5px;
}

/*
* Right part
*/
#cpu,
#memory,
#clock {
    background-color: @nord2;
    padding: 0px 8px;
    color: @nord6;
}

#clock {
    margin: 0 8px;
    margin-top: 2px;
    border-radius: 5px;
}

#cpu, #memory {
    background-color: @nord2;
}

#cpu {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#memory {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
