-- Plugin Configuration Example
-- If plugin's setup function requires it self as a reference
-- USE `:` INSTEAD OF `.` AFTER REQUIRE FUNCTION
require('plugin-name').setup {
 -- configurations goes here:
}

--[[ 
-----------------------------------
	DON'T FORGET TO ADD YOUR PLUGIN 
	AS A REQUIREMENT IN `init.lua`  
	UNDER `configs/` FOLDER			
-----------------------------------
--]]